@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.fonts-styles{
    font-family: "Inter", sans-serif;
}
/* ====================navbar================= */
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 30px;
   
}

.nav-head h4{
    font-size: 30px;
}
.secone-nav-imgae a{
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    /* padding: 20px, 30px 30, 50px ; */
    padding: 20px 0px, 30px;
   
}

.main-header-banner{background-image: url("/imges/Hero-bg.png");
background-repeat: no-repeat;
background-size: cover;
padding: 120px;
}
.cover-site{
   text-align: center;
   
}
.cover-site h1{
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 600px;
}
.prymary-btn{
    padding: 15px;
    border: 1px solid;
    border-radius: 4px;
    background-color: black;
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 30px;
    
}
.prymary-btn a{
    text-decoration: none;
    color: #f4eaea;
}

.discption{
     width: 400px;
    /* height: 80px;
   justify-content: space-around;  */
   /* display: flex;
 align-items: center; */
 margin: 0 auto
}

/* ================= */

.Development-section{
    background-color:#f4eaea ;
    width: 1140px;
   /* justify-content: center; */
   margin: 0 auto;
   margin-top: 60px;
}

.Development-header{
    text-align: center;
    padding: 80px;
}


.Development-section2{
    display: flex;
   justify-content: space-around;
}





/* ===================video section============== */

.video-heading{
    text-align: center;
    padding: 40px;
}
.video-section{
    display: flex;
    justify-content: center;
}

/* =========================== */

.current-main-header{
    text-align: center;
    padding: 20px;
}
.current-main-header h3{
    font-size: 40px;
}


.current-sub-section{
    display: flex;
  gap: 60px;
 text-align: left;
 padding: 50px;
}
.html-culome1{
    background-color: #EBEBEB;
    padding: 20px;
    border-radius: 5px;
}
.html-culome2{
    background-color: #c7c2c2;
    padding: 20px;
    border-radius: 5px;
}
.html-culome3{
    background-color: #f6e3ac;
    padding: 20px;
    border-radius: 5px;
}







/* ============================i need */

.I-Need-section{background-image:  
     linear-gradient(
        45deg, rgba(105, 81, 105, 0.6),
        rgba(141, 130, 148, 0.7)
     ),
    
    url("/imges/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width:90%;
    height: 400px;
    margin: 0 auto;
   border-radius: 30px;
    
    }
    .I-Need-Sub-section{
        text-align: center;
        padding: 50px;
    }
    .I-Need-Sub-section input{
        padding: 15px;
        border: 1px solid;
        border-radius: 5px;
        border: navy;
    }






    .footer-section{
        display: flex;
        justify-content: space-between;
        padding: 50px;
    
    }